{% extends "base.html" %}

{% block content %}

<h3>Places to visit</h3>

{% for place in places %}
<ul>
    <li>{{ place.place }} --- {{ place.rating }} <form action="{{ url_for ('delete_place', place_id=place.id) }}" method="post">
        <input class="btn" type="submit" name="delete" value="Delete">
    </form>
    <form action="{{url_for('move_place', place_id = place.id) }}", method="post">
        <input class="btn" type="submit" name="move" value="Move to visited">
    </form></li>
</ul>
{% endfor %}

<h5>Submit a new place</h5>

<form action="" method="POST">
    {{form.hidden_tag()}}
    {{form.place.label}}
    {{form.place()}}
    {{form.rating.label}}
    {{form.rating()}}
    {{form.submit()}}
</form>
    

{% endblock %}